ERPNEXT_BASE_URL=http://site1.localhost:8080
ERPNEXT_API_KEY=your_api_key
ERPNEXT_API_SECRET=your_api_secret
DEFAULT_WAREHOUSE_ALIAS=南宁仓
SNAPSHOT_DIR=data/snapshots
MASTER_DATA_DIR=data/master_data
ENABLE_LLM_EXTRACTOR=false
